@font-face {
    font-family: AmazonAmber;
    /* src: url(Ember/AmazonEmber_Rg.ttf); */
    src: url('./assets/fonts/Ember/AmazonEmber_Rg.ttf');
}

body {
  font-family: AmazonAmber !important;
    color: #003679;
  }

  .bg-one {
    background-color: #003679;
  }

  .bg-two {
    background-color: #e27d26;
  }

  .bg-three {
    background-color: #587187;
  }

  .text-two {
    color: #e27d26;
  }
  .btn-two {
      background-color: #e27d26;
      border-color: #e27d26;
  }

#bg-sec-1 {
    background-image: url(assets/img/amazon/section-1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#bg-sec-3 {
    background-image: url(assets/img/amazon/section-3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#bg-sec-4 {
    background-image: url(assets/img/amazon/section-4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#bg-sec-6 {
    background-image: url(assets/img/amazon/section-6.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#bg-sec-7 {
    background-image: url(assets/img/amazon/section-7.jpg);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}

#bg-sec-8 {
    background-image: url(assets/img/amazon/section-8.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}